# macOS metadata
.DS_Store
.AppleDouble
.LSOverride
._*

# VS Code local workspace settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local database dumps / logs (if created by accident)
*.log
*.tmp
